<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="confirmation" id="confirmation">
            <module name="Pago_Paycoagregador"/>
        </route>
        <route frontName="response" id="response">
            <module name="Pago_Paycoagregador"/>
        </route>
    </router>
</config>
